:root {
  --main: #01c5d5;
  --dark: #363c4d;
  --dark2: #292c34;
  --dark3: #1a1d24;
  --gray: #e7eaf2;
  --green: #00c0a6;
  --warning: #ff573d;
}

button {
  outline: none;
  background: transparent;
  border: transparent;
  cursor: pointer;
  transition: 0.3s;
}

input {
  border: 1px solid var(--dark) !important;
  border-radius: 10px;
  padding: 1rem;
}

input:focus {
  outline: none;
  border: 1px solid var(--main) !important;
}

button.submit-button{
  border-radius: 5rem;
  width : 150px;
  height: 40px;
  margin: 0px auto;
  background-color: var(--main);
  margin-top : 1em;
  color : var(--gray);
  font-size: 1.1em;
  font-weight: bold;
}

button.submit-button:active{
  background-color: var(--warning);
}